body {
  color: #40514e;
  font-family: 'Bitter', serif;
  margin: 0;
  text-align: center;
  font-size: 1.25rem;
}

h1 {
  color: #00adb5;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  /* tip: 1em == 100% == 16px */
  /* rem ignores upstream size changes */
  margin: 7% auto 0 auto;
}

h2 {
  color: #00adb5;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

a {
  color: #11999e;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #ff4c68;
}

p {
  line-height: 2;
}

/***************** CLASSES *********************/
/* cloud area */
#title .profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.top-container {
  background-color: #222831;
  position: relative;
  /* padding-top: 100px; */
  /* text-align: center; */
}

.top-cloud {
  position: absolute;
  /* right: 300px; */
  animation: top-cloud 12s alternate infinite linear;
}

@keyframes top-cloud {
  from {
    right: 30%;
  }

  to {
    right: 8%;
  }
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  animation: bottom-cloud 5s alternate infinite linear;
  animation-delay: 0.5s;
}

@keyframes bottom-cloud {
  from {
    left: 20%;
  }

  to {
    left: 10%;
  }
}

/* Hello section */
.profile {
  background-color: #393e46;
  padding-top: 5%;
  padding-bottom: 5%;
}

.intro {
  color: #eaf6f6;
  text-align: left;
  width: 90%;
  /* margin: auto; */
}

.profile-picture {
  width: 60%;
  border-radius: 25%;
}

.profile-header {
  width: 90%;
}

/* Skills/Projects */
.projects, .contact-me {
  background-color: #eeeeee;
  padding-top: 5%;
  padding-bottom: 5%;
}

.skills-pic-1 {
  width: 8rem;
  border-radius: 25%;
  margin-bottom: 5%;
}

.skill-row {
  width: 60%;
  margin: 6.25rem auto 6.25rem auto;
  padding-bottom: 5%;
  text-align: left;
}

.skills-links, .img-tags {
  margin: 0;
}

/* Hobbies */
.hobbies {
  background-color: #222831;
  color: #eaf6f6;
  padding-top: 5%;
}

.pcOnly {
  display: inline;
}

.mobileOnly {
  display: none;
}

.skills-pic-2 {
  width: 20%;
  float: right;
  margin-left: 20px;
}

/* the three drawings */
.draw1 {
  visibility: hidden;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.fadeIn {
  -webkit-animation: animat_show 0.8s;
  animation: animat_show 0.8s;
  visibility: visible !important;
}

@-webkit-keyframes animat_show {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

/*get in touch*/
.email-tags {
  color: #40514e;
  font-family: "Bitter", serif;
}

.contact-message {
  width: 90%;
  margin: 5% auto;
}

/* footer */
.bottom-container {
  background-color: #00adb5;
  padding: 50px 0 20px;
}

.copyright {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  padding-top: 2%;
}

.ack {
  font-family: 'Raleway', sans-serif;
  font-size: 0.7rem;
  color: #eaf6f6;
  margin: 0;
}

/***************** IDS *********************/
#footer {
  background-color: #00adb5;
  padding: 3% 5%;
  color: #eaf6f6;
}

/***************** responsiveness *********************/

@media (max-width: 480px) {

  /* cloud area */
  .signature {
    font-size: 4rem;
  }

  .mountain {
    width: 75%;
  }

  .top-cloud {
    position: absolute;
    bottom: 15%;
    width: 10%;
  }

  .bottom-cloud {
    position: absolute;
    bottom: 10%;
    width: 10%;
  }

  /* Hello section */
  .profile-header {
    padding-top: 5%;
    width: auto;
  }

  .intro {
    text-align: center;
    width: 100%;
  }

  /* Overall paddings and margins */
  .profile, .projects, .hobbies, .contact-me {
    padding: 10% 0;
  }

  .skill-row {
    width: 90%;
  }

  .contact-message {
    margin: 10% auto;
  }

  .pcOnly {
    display: none;
  }

  .mobileOnly {
    display: inline;
  }

  #footer {
    padding: 10% 5%;
  }
}
